body{
    background: #F4F3E8;
}

.cart-con{

    margin: 50px auto;
}

.th-bg-color{

    background: #FCD636;
}

.img-col{

    width: 150px;
    height: 100px;
}

.btns button, .btns a{

    font-size:20px;
    border: none;
    background-color: transparent;
    color: #fcb941;
}
.btns button:hover, .btns a:hover{

    font-size:28px;
    color: #fcb941;
}

.rating{
    font-size: 14px;
    color: #fcb941;
}

.checkout-btn{
    background: #FCD636;
}

.checkout-btn:hover{
    background: #fcb941;
}