body{
    background: #F4F3E8;
}

.carousel-con{

    width: 60rem; 
    margin: 0 auto 3rem;
}

.cursor-pointer{
    cursor: pointer;
}

.product-con{

    margin: 0 auto;
    max-width: 80%;
}

.product-item{
    border: 1px solid rgb(219, 219, 219);
    width: 240px;
    outline: none;
    border-style: none;
}
.product-img{
    position: relative;
    overflow: hidden;
}

.btns{
    position: absolute;
    left: 0;
    bottom: -100%;
    font-size: 14px;
    font-weight: 300;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}
.btns button{
    border: none;
    background-color: rgb(39, 39, 39);
    color: #fff;
    transition: all 0.3s ease-in-out;
}
.btns button:hover{
    color: #fcb941;
}
.product-img:hover .btns{
    bottom: 0;
}

.product-name{
    transition: all 0.3s ease-in-out;
}
.product-name:hover{
    color: #fcb941!important;
}
.rating{
    font-size: 13px;
    color: #fcb941;
}

.owl-prev{

    display: none;
    left: -30px;
}

.owl-next{

    right: -30px;
}

.owl-next , .owl-prev{

    position: absolute;
    top: 90px;
}

.owl-next span, .owl-prev span{

    outline: none;
    border-style: none;
    font-size: 50px;
    color: gray;
}

.owl-theme .owl-nav .owl-prev span:hover,
.owl-theme .owl-nav .owl-next span:hover{

    color: #FCD636;
}

.cateogry-con{

    display: grid;
    grid-gap: 0.6rem;
    grid-template-areas: 
        "pic1 pic3"
        "pic2 pic4";
}

.pic1{
    grid-area: pic1;
}

.pic2{
    grid-area: pic2;
}

.pic3{
    grid-area: pic3;
}

.pic4{
    grid-area: pic4;
}

@media only screen and (max-width: 600px) {
    .cateogry-con {
      grid-template-columns: 1fr;
      grid-template-rows: 0.4fr 0.4fr 2.2fr 1.2fr;
      grid-template-areas:
        "pic1"
        "pic2"
        "pic3"
        "pic4";
    }
}